@charset "utf-8";

/* ================================================================

CSS Information

 File name:      module-boxs.css
 Summary:        box model styles
 Last update:    2010-01-31

================================================================ */

/* @group width */
.WAuto{width: auto !important;}

.W20{width: 20px !important;}
.W50{width: 50px !important;}
.W80{width: 80px !important;}
.W100{width:100px !important;}
.W120{width:120px !important;}
.W150{width:150px !important;}
.W160{width:160px !important;}
.W180{width:180px !important;}
.W200{width:200px !important;}
.W250{width:250px !important;}
.W300{width:300px !important;}
.W320{width:320px !important;}
.W350{width:350px !important;}
.W400{width:400px !important;}
.W450{width:450px !important;}
.W480{width:480px !important;}
.W500{width:500px !important;}
.W550{width:550px !important;}
.W600{width:600px !important;}
.W630{width:630px !important;}
.W650{width:650px !important;}
.W700{width:700px !important;}
.W750{width:750px !important;}
.W800{width:800px !important;}

.W05p{width: 5% !important;}
.W10p{width: 10% !important;}
.W20p{width: 20% !important;}
.W25p{width: 25% !important;}
.W30p{width: 30% !important;}
.W40p{width: 40% !important;}
.W50p{width: 50% !important;}
.W60p{width: 60% !important;}
.W70p{width: 70% !important;}
.W75p{width: 75% !important;}
.W80p{width: 80% !important;}
.W90p{width: 90% !important;}
.W100p{width: 100% !important;}

/* @end */

/* @group height */
.HAuto{height: auto !important;}

.H05{height: 50px !important;}
.H06{height: 60px !important;}
.H09{height: 90px !important;}
.H10{height:100px !important;}
.H12{height:120px !important;}
.H15{height:150px !important;}
.H18{height:180px !important;}
.H20{height:200px !important;}
.H21{height:210px !important;}
.H25{height:250px !important;}
.H30{height:300px !important;}
.H35{height:350px !important;}
.H40{height:400px !important;}
.H45{height:450px !important;}

/* @end */

/* @group margin */

.mt05e{margin-top:0.5em !important;}
.mt1e {margin-top:1em !important;}
.mt15e{margin-top:1.5em !important;}
.mt2e {margin-top:2em !important;}

.mt0{margin-top:0px !important;}
.mt02{margin-top:2px !important;}
.mt05{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt12{margin-top:12px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}

.mt-10{margin-top:-10px !important;}
.mt-15{margin-top:-15px !important;}
.mt-20{margin-top:-20px !important;}
.mt-25{margin-top:-25px !important;}

.mb05e{margin-bottom:0.5em !important;}
.mb1e {margin-bottom:1em !important;}
.mb15e{margin-bottom:1.5em !important;}
.mb2e {margin-bottom:2em !important;}

.mb0{margin-bottom:0px !important;}
.mb02{margin-bottom:2px !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb12{margin-bottom:12px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}


.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}

.ml05e{margin-left:0.5em !important;}
.ml10e{margin-left:1em !important;}
.ml15e{margin-left:1.5em !important;}
.ml20e{margin-left:2em !important;}
.ml25e{margin-left:2.5em !important;}
.ml30e{margin-left:3em !important;}

.mr10{margin-right:10px !important;}

/* @end */

.pl05e{padding-left:0.5em !important;}

/* @group padding */

.pl1e{padding-left:1em !important;}
.pl15e{padding-left:1.5em !important;}
.pl2e{padding-left:2em !important;}

.pl0{padding-left:0px !important;}
.pl02{padding-left:2px !important;}
.pl05{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl12{padding-left:12px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}

/* @end */
